@import "tailwindcss";

@theme {
    --color-background-primary: #fafafa;
    --color-background-secondary: #ffffff;

    --color-primary: #047857;
    --color-secondary: #0F172A;

    --color-border-primary: #E2E8F0;
}

@layer base {
    html {
        scroll-behavior: smooth;
    }

    body {
        background-color: var(--color-background-primary);
        color: var(--color-text-primary);
        font-family: "Inter", sans-serif;
        overflow-x: hidden;
    }
}